{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://freegeoip.net/json/8.8.8.8",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Database-Date": [
            "Thu, 09 Jul 2015 02:14:45 GMT"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"ip\":\"8.8.8.8\",\"country_code\":\"US\",\"country_name\":\"United States\",\"region_code\":\"CA\",\"region_name\":\"California\",\"city\":\"Mountain View\",\"zip_code\":\"94040\",\"time_zone\":\"America/Los_Angeles\",\"latitude\":37.386,\"longitude\":-122.084,\"metro_code\":807}\n"
        },
      },
      "recorded_at": "Tue, 04 Aug 2015 06:41:20 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}