{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://geoip.nekudo.com/api/8.8.8.8",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"city\":\"Mountain View\",\"country\":{\"name\":\"United States\",\"code\":\"US\"},\"location\":{\"latitude\":37.386,\"longitude\":-122.0838,\"time_zone\":\"America\\/Los_Angeles\"},\"ip\":\"8.8.8.8\"}"
        },
      },
      "recorded_at": "Tue, 04 Aug 2015 06:40:02 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}